<div class="container">

    <h2>Perfil</h2>
    <hr>

    <div class="perfil">
        <div class="shadow">
            <mat-card class="example-card">
                <mat-card-header>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content class="info">
                    <div>
                        <h3>Nombre:</h3>
                        <p>nombre</p>
                    </div>

                </mat-card-content>
                <mat-card-actions style="width: 100%;">
                    <button style="width: 100%;" (click)="reservar()" mat-raised-button color="primary">Realizar una reservación</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <!-- <div>
            <button mat-raised-button color="primary">Ver mis compras</button>
            <button mat-raised-button color="accent">Eliminar Cuenta</button>
        </div> -->
    </div>
</div>