.example-form {
  min-width: 150px;
  max-width: 750px;
  width: 100%;
  margin: 2rem auto;
  font-size: 2rem;
  padding: 2rem;
  border-radius: 1rem;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
  width: 250px;
}

.fieldset {
  border: none;
}

tr {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  tr {
    display: table-row;
  }
}

.separador {
  height: 30px;
}
#aceptar{
  background-color: black;
}

.divLegend {
  padding: 1rem;
  background-color: rgb(39, 39, 39);
  color: white;
}
legend {
  display: block;
  text-align: center;
}

.mat-grid-tile-content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
