<div class="container">
    
    <h4 style="margin-top: 3rem;">pago</h4>
    <hr>
    <form class="example-form shadow"  [formGroup]="pagoNuevo">
        <fieldset class="fieldset">
            <div class="divLegend">
                <legend>Información personal</legend>
            </div>

            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td><mat-form-field class="example-full-width">
                            <mat-label>Nombres</mat-label>
                            <input type="text" matInput formControlName="nombres">
                            <mat-error *ngIf="">
                                El nombre es <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field></td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <mat-label>Teléfono</mat-label>
                            <span matPrefix>+593 &nbsp;</span>
                            <input formControlName="numero" type="tel" matInput placeholder="0985586995">
                            <mat-error *ngIf="">
                                Teléfono es <strong>requerido</strong>
                            </mat-error>
                            <mat-icon matSuffix>phone</mat-icon>
                        </mat-form-field>

                    </td>
                    </tr>
                <tr class="separador"></tr>
                <tr>

                    <td>
                      <mat-form-field class="example-full-width">
                            <mat-label>Email</mat-label>
                            <input type="correo" matInput formControlName="correo" placeholder="Ex. ejemplo@correo.com">
                            <mat-error *ngIf="">
                                ingrese un email valido
                            </mat-error>
                            <mat-error *ngIf="">
                                Email es <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <tr class="separador"></tr>

            </table>


            <table class="example-full-width s-r" cellspacing="0">
               
                <tr class="separador"></tr>
            </table>

            <div class="divLegend">
                <legend>Datos de la Tarjeta</legend>
            </div>
           
            <mat-form-field class="example-full-width">
                <mat-label>Número de Tarjeta</mat-label>
                <input type="text" matInput formControlName="tarjeta" placeholder="5018 5020 5038">

                <mat-error *ngIf="">
                    nombre usuario <strong>requerido</strong>
                </mat-error>
            </mat-form-field>


            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td><mat-form-field class="example-full-width">
                            <mat-label>Código de seguridad</mat-label>
                            <input type="password" matInput formControlName="codigo">
                            <mat-error *ngIf="">
                                contraseña <strong>requerida</strong>
                            </mat-error>
                        </mat-form-field></td>
                    <td>

                        <mat-form-field class="example-full-width">
                            <mat-label>Nombre de la Tarjeta</mat-label>
                            <input type="text" matInput formControlName="nombret">
                            <mat-error *ngIf="">
                                El nombre es <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field>




                    </td>

                </tr>
            </table>

            <button mat-raised-button color="primary" type="submit">Pagar</button>

        </fieldset>

    </form>

</div>